<p>Hi {{nameOrDefault}}</p>
<p>Thanks for signing up for Payroll Pro! Please verify your emial address by clicking the button below:</p>
<a href="{{verificationLink}}" style="background-color: #007bff; color: white; padding: 10px 15px; text-decoration: none; border-radius: 5px; display: inline-block; font-family: Arial, sans-serif; font-size: 16px;">Verify Email Address</a>
<p style="margin-top: 15px;">Alternatively, you can copy and paste this link into your browser:<br>
   <a href="{{verificationLink}}">{{verificationLink}}</a>
</p>
<p>This verification link will expire in {{expiryInfo}}</p>
<p>If you didn't request this, please ignore this email.</p>
<p>Best regard, <br>The Payroll Pro Team</p>
